/*! 해더의 하단에 이상한 공백이 생긴다. */
/*! 이미지 사이즈가 고정적이지 않은 경우 ?? */
/*! countries 우측에 왜 삐져나오는거지?? */
/*! 디테일 국기 사진에 width를 줘도 안먹는데 absolute 때문? */
/********************************************
* Reset
********************************************/
body,
h1,
ul,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input[type="text"] {
  background-color: transparent;
  border-style: hidden;
  border-width: 0;
  border-color: transparent;
  font-family: "Spoqa Han Sans Neo";
  font-size: 2rem;
  color: inherit;
  /* background-color: brown; */
}

/********************************************
* Common - Root
********************************************/
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Medium"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf")
      format("truetype");
}

:root {
  font-family: "Spoqa Han Sans Neo";
  font-size: 62.5%;
  --main-color: #ffffff;
  --main-backcolor: #fafafa;
  --font-color: black;
}

[data-theme="dark"] {
  --main-color: #2b3843;
  --main-backcolor: #212e37;
  --font-color: white;
}

body {
  font-size: 1.6rem;
  background-color: var(--main-backcolor);
  color: var(--font-color);
}

/********************************************
* Common - Layout
********************************************/
.l_layout {
  padding: 30rem 20rem;
}

.l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
  align-items: center;
}

.l_row_thin {
  margin: 0 -1rem;
}

.l_col {
  padding: 0 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.l_col_thin {
  padding: 0 1rem;
}

.l_col_mobile_4_12 {
  width: 33.33333333%;
}
.l_col_mobile_12_12 {
  width: 100%;
}

/********************************************
* Common - Obejct
********************************************/
.o_p20 {
  padding: 2rem;
}

/********************************************
* Component
********************************************/
.header {
  background-color: var(--main-color);
  height: 10rem;
  box-shadow: 0px 1px 1px gray;
}
/* !하단 이상한 공간은 뭘까??? */

.header-inner {
  display: flex;
  padding: 3rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.header-inner__title {
  font-size: 2.5rem;
}

.header-inner__mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.slider {
  background-color: peachpuff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  content: " ";
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 26px;
  height: 26px;
  transition: 0.4s;
  border-radius: 50%;
  background-color: darkcyan;
}
.slider:after {
  content: " ";
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 26px;
  height: 26px;
  transition: 0.4s;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch input + .slider:after {
  background-image: url(https://img.icons8.com/emoji/32/000000/crescent-moon-emoji.png);
}

.theme-switch input:checked + .slider:after {
  background-image: url(https://img.icons8.com/offices/32/ffffff/sun.png);
  transform: translateX(-100%);
}

.theme-switch input:checked + .slider:before {
  transform: translateX(100%);
}

.theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-icon em,
.theme-icon img {
  margin-left: 1rem;
  font-size: 1.6rem;
}

.search {
  padding: 2rem 2rem;
}

.search__input {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--main-color);
  box-shadow: 0px 1px 1px gray;
}

.search__input img {
  width: 3.2rem;
  margin-right: 1rem;
}

.search__input input[type="text"] {
  flex-grow: 1;
  min-width: 1rem;
  height: 4.8rem;
  padding: 0 2rem;
}

.search__select {
  position: relative;
  width: 50%;
  padding: 2rem;
  background-color: var(--main-color);
  box-shadow: 0px 1px 1px gray;
}

.filter-item {
  display: flex;
  justify-content: space-between;
}

.filter-arrow {
  cursor: pointer;
}

.filter-list {
  display: none;
  position: absolute;
  top: 6.5rem;
  padding: 2rem;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--main-color);
}

.filter-list li {
  margin: 1.5rem 0;
}

.filter-list li a {
  display: block;
  padding: 1rem;
}

.filter-list li a:hover {
  background-color: gainsboro;
}

.coutries {
  /*! 이걸 안하면.. 우측 네거티브 마진이 안먹힌다...*/
  overflow: hidden;
}

.country {
  border-radius: 0.8rem;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  transition: all 0.4s;
  background-color: var(--main-color);
}

.country:hover {
  width: 90%;
}

.coutry-link {
  display: block;
}

.country__img-cover {
  position: relative;
  height: 300px;
}

.country__img {
  background-color: gray;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.country__info {
  padding: 0 2rem 2.5rem;
}

.country__info h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.country__info p {
  margin: 1rem 0;
}

.history-back {
  margin: 30px 0 40px 20px;
}
.history-back__button {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px gray;

  background-color: var(--main-color);
}

.country-detail {
  margin: 0 20px;
}

.country-detail__info1,
.country-detail__info2,
.country-detail__info3,
.country-detail__info4 {
  margin-bottom: 40px;
  overflow: hidden;
}

.country-detail__info2 h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.country-detail__info2 p,
.country-detail__info3 p {
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn-group a {
  display: block;
  text-align: center;
  border: 1px solid gray;
  padding: 15px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* flex-grow: 1; */
}

/* Tablet */
@media (min-width: 700px) {
  .l_col_tablet_12_12 {
    width: 100%;
  }
  .l_col_tablet_11_12 {
    width: 91.66666667%;
  }
  .l_col_tablet_10_12 {
    width: 83.33333333%;
  }
  .l_col_tablet_9_12 {
    width: 75%;
  }
  .l_col_tablet_8_12 {
    width: 66.66666667%;
  }
  .l_col_tablet_7_12 {
    width: 58.33333333%;
  }
  .l_col_tablet_6_12 {
    width: 50%;
  }
  .l_col_tablet_5_12 {
    width: 41.66666667%;
  }
  .l_col_tablet_4_12 {
    width: 33.33333333%;
  }
  .l_col_tablet_3_12 {
    width: 25%;
  }
  .l_col_tablet_2_12 {
    width: 16.66666667%;
  }
  .l_col_tablet_1_12 {
    width: 8.33333333%;
  }

  .country__img-cover {
    height: 250px;
  }

  .country-detail__info1.country__img-cover {
    height: 500px;
  }
}

/* PC */
@media (min-width: 1200px) {
  .l_col_pc_12_12 {
    width: 100%;
  }
  .l_col_pc_11_12 {
    width: 91.66666667%;
  }
  .l_col_pc_10_12 {
    width: 83.33333333%;
  }
  .l_col_pc_9_12 {
    width: 75%;
  }
  .l_col_pc_8_12 {
    width: 66.66666667%;
  }
  .l_col_pc_7_12 {
    width: 58.33333333%;
  }
  .l_col_pc_6_12 {
    width: 50%;
  }
  .l_col_pct_5_12 {
    width: 41.66666667%;
  }
  .l_col_pc_4_12 {
    width: 33.33333333%;
  }
  .l_col_pc_3_12 {
    width: 25%;
  }
  .l_col_pc_2_12 {
    width: 16.66666667%;
  }
  .l_col_pc_1_12 {
    width: 8.33333333%;
  }

  .o_pc_flex {
    display: flex;
  }

  .o_pc_jcsb {
    justify-content: space-between;
  }

  .o_pc_aic {
    align-items: center;
  }

  .search__input {
    width: 50%;
    margin-bottom: 0;
  }
  .search__select {
    width: 30%;
  }
  .country__img-cover {
    height: 150px;
  }

  .country-detail__info1 {
    width: 550px;
  }

  .country-detail__info1.country__img-cover {
    height: 500px;
  }

  .country-detail__info3 {
    margin: auto 20px;
  }

  .o_pc_item1 {
  }
  .o_pc_item2 {
    margin: 0 auto;
  }
}
